/*made p5.js default canvas size 0, 0 on lines 8970, 8971*/
html {
  font-family: Muli;
  background: #53688a;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-Regular.ttf");
}

h1 {
  margin: 0;
  padding: 32px 50px;
}

body{
  background: white;
  min-width: 1024px;
  margin: 0 auto;
  height: 100%;
  width: 70%;
}