html{
  background: #777;
  margin: 0;
  padding: 0;
}
body{
  background: #2e2e2e;
  border-bottom: 10px solid gold;
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin: 0 auto;
  /*34px is 50 less half of icon size*/
  padding: 34px 50px 1em 50px;
  width: 70%;
}
h1{
  font-family: Georgia, serif;
  font-size: 2em;
  font-style: italic;
  font-weight: normal;
}
p{
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1em;
  text-align: justify;
}

div.info{
  background: #2e2e2e;
  border-radius: 8px;
  float: center;
  height: 50em;
  width: 100%;
}
#tabContainer h3{
  color: rgb(83, 104, 138);
  font-size: 2em;
}
#tabs{
  height: 30px;
  overflow: hidden;
}
#tabs > ul{
  font-size: 1em;
  list-style: none;
}
#tabs ul, #tabs li, #links ul, #links li{
  margin: 0;
  padding: 0;
}
#tabs > ul > li{
  background: #CCC;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #FFF;
  display: block;
  float: right;
  margin-left: 2px;
  padding: 5px 15px;
}
#tldrTab{
  margin: 0 18px 0 0 !important;
}
#homeTab{
  float: left !important;
  margin: 0 !important;
}
#tabs > ul > li:hover{
  background: white;
  cursor: pointer;
}
#tabs > ul > .active{
  background: white;
  cursor: pointer;
}
#containers div{
  background: white;
  color: #333;
  height: 44em;
  margin: 0;
  padding: 10px 50px 10px 50px;
}
#tabs a{
  color: black;
  text-decoration: none;
}

#links > ul{
  position: relative;
}
#links a{
  display: block;
  height: 32px;
}
#links > ul{
  font-size: 1em;
  height: 32px;
  list-style: none;
  padding: 16px;
}
#links > ul > li{
  display: block;
  float: left;
  height: 32px;
  margin-left: 50px;
  position: absolute;
  top: 16px;
}
#github{
  margin-left: 65px;
}
#instagram{
  background: url("images/eb5eb7.png") -103px -179px;
  left: -50px;
  width: 32px;
}

/*
#links{
  position: relative;
}
#links li{
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
#links li, #links a{
  display: block;
  height: 32px;
}
*/
