/*made p5.js default canvas size 0, 0 on lines 8970, 8971*/

html {
  background: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 2em;
  /*display: flex;
  flex-direction: column;*/
}

#wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
}
#left {
  height: auto;
  width: 50%;
  margin: 0;
  float: left;
}
#right {
  background: gray;
  height: auto;
  width: 50%;
  margin-left: 50%;
}

#navigation {
  width: 100%;
  display: table;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 2em;
  display: inline;
}


@font-face {
    font-family: "BlackOpsOne-Regular";
    src: url("fonts/Black_Ops_One/BlackOpsOne-Regular.ttf");
}
@font-face {
    font-family: "Faster_One";
    src: url("fonts/Faster_One/FasterOne-Regular.ttf");
}
@font-face {
    font-family: "Monofett";
    src: url("fonts/Monofett/Monofett.ttf");
}
@font-face {
    font-family: "Press_Start_2P";
    src: url("fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}
@font-face {
    font-family: "VT323";
    src: url("fonts/VT323/VT323-Regular.ttf");
}
